[submodule "2ndparty/spencer_tracking_rviz_plugin"]
	path = 2ndparty/spencer_tracking_rviz_plugin
	url = git@github.com:srl-freiburg/spencer_tracking_rviz_plugin.git
[submodule "2ndparty/spencer_messages"]
	path = 2ndparty/spencer_messages
	url = git@github.com:spencer-project/spencer_messages.git
