<launch>
  <arg name="kbd_teleop" default="false"/>
  <arg name="rqt_teleop" default="false"/>
  <arg name="pose_initial_x" default="5.0"/>
  <arg name="pose_initial_y" default="5.0"/>
  <arg name="pose_initial_theta" default="0.0"/>
  
  <!-- robot driving controller -->
  <node name="driving_controller" type="simulate_diff_drive_robot" pkg="pedsim_simulator" output="screen">
    <param name="pose_initial_x" value="$(arg pose_initial_x)"/>
    <param name="pose_initial_y" value="$(arg pose_initial_y)"/>
    <param name="pose_initial_theta" value="$(arg pose_initial_theta)"/>
  </node>

  <!-- Keyboard robot steering -->
  <node pkg="pedsim_simulator" name="pedsim_keyboard_teleop" type="keyboard_teleop.py" output="screen" if="$(arg kbd_teleop)">
    <remap from="/pedbot/control/pedsim_keyboard_teleop/cmd_vel" to="/pedbot/control/cmd_vel"/>
  </node>

  <!-- RQT robot steering -->
  <node pkg="rqt_robot_steering" name="rqt_robot_steering" type="rqt_robot_steering" if="$(arg rqt_teleop)">
    <remap from="/cmd_vel" to="/pedbot/control/cmd_vel"/>
  </node>

</launch>
