<launch>
  <arg name="teleop" default="false"/>
  <arg name="publish_default_laser_collision_status" default="true"/>

  <!-- params -->
  <param name="/pedsim/scene_file" value="$(find pedsim_simulator)scenarios/rss_scenario_one.xml" type="string"/>

  <!-- other parameters -->
  <param name="/pedsim_simulator/max_robot_speed" value="2.0" type="double"/>
  <param name="/pedsim_simulator/robot_wait_time" value="30000000" type="double"/>
  <param name="/pedsim_simulator/agents_alpha" value="0.5" type="double"/>
  <param name="/pedsim_simulator/show_robot" value="false"/>

  <!-- ROBOT MODES: 0 = controlled, 1 = teleop, 2 = social drive -->
  <param name="/pedsim_simulator/teleop_flag" value="0" type="double" unless="$(arg teleop)"/>
  <param name="/pedsim_simulator/teleop_flag" value="1" type="double" if="$(arg teleop)"/>

  <param name="/use_sim_time" value="false"/>

  <!-- tf broadcaster for aligning frames -->
  <node name="simulator_tf_broadcaster" pkg="pedsim_simulator" type="dummy_transforms.py" respawn="false" output="log"
/>

  <!-- main simulator node -->
  <!-- main simulator node -->
  <node name="pedsim_simulator" pkg="pedsim_simulator" type="simulator" output="screen">
    <remap from="/pedsim/tracked_groups" to="/gondor/tracked_groups"/>
    <remap from="/pedsim/tracked_persons" to="/gondor/tracked_persons"/>

  </node>

  <!-- Publishing Agents Tracks -->
<node name="mocktracks_rss_scenario_one" pkg="pedsim_simulator" type="mocktracks_rss_scenario_one.py" respawn="false" output="screen" cwd="node"/>
  
  <!-- Publishing Groups Tracks -->
<node name="mockgroups_rss_scenario_one" pkg="pedsim_simulator" type="mockgroups_rss_scenario_one.py" respawn="false" output="screen" cwd="node"/>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pedsim_simulator)/rviz/social_contexts_rss_scenario_one.rviz"/>

  <!-- SPENCER robot-related -->
  <group ns="/spencer/control">
    <include file="$(find spencer_description)/launch/publish.launch"/>
    <include file="$(find spencer_description)/launch/joints.launch"/>

    <!-- SPENCER simulated driving controller -->
    <include file="$(find spencer_control)/launch/driving_controller.launch" ns="/spencer/control" clear_params="true">
      <arg name="simulated" value="true"/>
    </include>

    <!-- Override parameters -->
    <group ns="driving_controller">
      <param name="pose_initial_x" value="25.450"/>
      <param name="pose_initial_y" value="16.60"/>
      <param name="pose_initial_theta" value="1.9"/>
      <param name="max_linear_velocity" value="1.6"/>
      <param name="max_angular_velocity" value="1.0"/>
    </group>

    <!-- Collision status for front and rear laser -->
    <group if="$(arg publish_default_laser_collision_status)">
      <!-- Publish collision-free collision status for front and rear laser at 35 Hz -->
      <node pkg="rostopic" type="rostopic" name="rostopic_laser_front" args="pub /spencer/control/collision/laser_front spencer_control_msgs/CollisionStatus '{collisionError: false, collisionWarning: false}' -r 35" />
      <node pkg="rostopic" type="rostopic" name="rostopic_laser_rear" args="pub /spencer/control/collision/laser_rear spencer_control_msgs/CollisionStatus '{collisionError: false, collisionWarning: false}' -r 35" />
    </group>

    <!-- RQT robot steering -->
    <node pkg="rqt_robot_steering" name="rqt_robot_steering" type="rqt_robot_steering" if="$(arg teleop)">
      <remap from="/cmd_vel" to="/spencer/control/drive_velocity"/>
    </node>
  </group>



  <!-- pedsim to spencer converter -->
  <!-- <node name="pedsim_to_spencer" pkg="pedsim_simulator" type="pedsim_to_spencer" respawn="false" output="log" /> -->
</launch>
