<launch>
  <!-- params -->
  <param name="/pedsim/scene_file" value="$(find pedsim_simulator)scenarios/social_contexts.xml" type="string"/>


  <!-- specific social contexts -->
  <!-- <param name="/simulator/scene_file" value="$(find pedsim_simulator)scenarios/contexts/queueing.xml" type="string"/> -->
  <!-- <param name="/simulator/scene_file" value="$(find pedsim_simulator)scenarios/contexts/shopping.xml" type="string"/> -->
  <!-- <param name="/simulator/scene_file" value="$(find pedsim_simulator)scenarios/contexts/standing.xml" type="string"/> -->
  <!-- <param name="/simulator/scene_file" value="$(find pedsim_simulator)scenarios/contexts/flow.xml" type="string"/> -->
  <!-- <param name="/simulator/scene_file" value="$(find pedsim_simulator)scenarios/contexts/anti_flow.xml" -->
<!-- type="string"/> -->

  <!-- other parameters -->
  <param name="/pedsim_simulator/max_robot_speed" value="2.0" type="double"/>
  <param name="/pedsim_simulator/robot_wait_time" value="3" type="double"/>
  <param name="/pedsim_simulator/teleop_flag" value="1.0" type="double"/>

  <!-- tf broadcaster for aligning frames -->
  <node name="simulator_tf_broadcaster" pkg="pedsim_simulator" type="dummy_transforms.py" respawn="false" output="log"
/>

  <!-- main simulator node -->
  <node name="simulator" pkg="pedsim_simulator" type="simulator" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pedsim_simulator)/rviz/social_contexts.rviz"/>

  <!-- Keyboard teleoperation node -->
  <node name="robot_teleop_keyboard" pkg="pedsim_simulator" type="robot_teleop_keyboard" respawn="false" output="screen" />
</launch>
