<launch>
    <arg name="pose_initial_x" default="5.0"/>
    <arg name="pose_initial_y" default="5.0"/>
    <arg name="pose_initial_theta" default="0.70"/>
    
    <node name="simulate_diff_drive_robot" type="simulate_diff_drive_robot" pkg="pedsim_simulator">
        <param name="pose_initial_x" value="$(arg pose_initial_x)"/>
        <param name="pose_initial_y" value="$(arg pose_initial_y)"/>
        <param name="pose_initial_theta" value="$(arg pose_initial_theta)"/>
    </node>

    <node name="teleop_keyboard" type="turtlebot_teleop_key" pkg="turtlebot_teleop" output="screen">
        <remap from="/teleop_keyboard/cmd_vel" to="cmd_vel"/>
    </node>

</launch>