<launch>

        <!-- this file is auto generated using pedsim_gazebo_plugin pkg -->  
        
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
             <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/airport.world"/>
         </include>
         
         <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->  
         <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
         </node>


</launch>

