<launch>        
  <arg name="world_name" default="$(find pedsim_gazebo_plugin)/worlds/GrannyAnnie.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
         
  <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->  
  <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" 
    output="screen"/>

</launch>

